@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0 0;font-size:12px;line-height:22px;font-family:"宋体","Arial Narrow";background:#fff;}
ul,ol,li { margin:0; padding:0; list-style:none; }
p { margin:0; padding:0; }
.clear { clear:both;}
.container {}
/*--header begin--*/
.header_body { background:url(../images/header_bg.png) center top repeat-x;}
.header_wide { width:1024px; margin:0 auto; background:url(../images/header_bg.png) center top repeat-x;}
.header { width:988px; height:126px; margin:0 auto; background:url(../images/header_bg.png) center top repeat-x;}
.logo { background:url(../images/logo.png) 25px top no-repeat; float:left; width:250px; height:28px; margin:15px 0 0 0;}
.slogan { background:url(../images/slogan.png) left top no-repeat; float:right; width:306px; height:20px;margin:15px 0 0 0; }
.place { float:left; width:410px; margin:23px 0 -23px 0;}
.place p { float:left; margin:0 20px 0 0; font-size:14px; font-weight:bold; color:#fff;}
.place p a { color:#00ff0c; font-size:12px; text-decoration:none;font-weight:normal; }
.place p a:hover { color:#00ff0c; font-size:12px; text-decoration:underline; font-weight:normal; }
.h_menu { float:left; width:600px; margin:8px 0 0 10px;_margin:8px 0 0 5px }
.h_menu ul li { float:left; width:95px; height:75px; margin:0 19px 0 0; }
.h_menu ul li a.h_m_1 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) left top no-repeat; float:left;}
.h_menu ul li a.h_m_2 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -95px top no-repeat; float:left;}
.h_menu ul li a.h_m_3 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -190px top no-repeat; float:left;}
.h_menu ul li a.h_m_4 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -285px top no-repeat; float:left;}
.h_menu ul li a.h_m_5 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -380px top no-repeat; float:left;}
.h_menu ul li a:hover.h_m_1 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) left -75px no-repeat; float:left;}
.h_menu ul li a:hover.h_m_2 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -95px -75px no-repeat; float:left;}
.h_menu ul li a:hover.h_m_3 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -190px -75px no-repeat; float:left;}
.h_menu ul li a:hover.h_m_4 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -285px -75px no-repeat; float:left;}
.h_menu ul li a:hover.h_m_5 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) -380px -75px no-repeat; float:left;}
.h_menu .on .h_m_1 { display:block;width:95px; height:75px;  background:url(../images/header_menu.png) left -150px no-repeat; float:left;}
.login { float:right; width:200px; padding:35px 0 0 0; font-weight:bold; font-size:12px; text-align:right; color:#fff;}
.login a { color:#fff; text-decoration:none; }
.login a:hover { color:#fff; text-decoration:underline; }
/*--header end--*/
/*--footer begin--*/
.footer { background:url(../images/footer_bg.png) left top repeat-x; height:105px; padding:50px 0 0 0; }
.footer p {width:988px; margin:0 auto; color:#b3dbfe; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center; }
/*--footer end--*/